.about-me{
    display: flex;
    gap: 100px;

    .container{
        width: 80%;
        margin: auto;
        display: flex;

        .myself{
            width: 50%;
            display: flex;
            justify-content: center;
    
            img{
                margin: auto;
                filter: grayscale(100%);
                width: 300px;
                height: 400px;
            }
        }
    
    
        .desc{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            h2{
                margin-top: 130px;
                color: white;
                text-align: center;
                letter-spacing: 1px;
                font-size: 44px;
            }
    
            p{
                font-size: .9rem;
                margin: auto;
                color: #E4E4E5;
                letter-spacing: 1px;
                line-height: 2;
                width: 90%;
                margin-top: 30px;
            }
            
            .links{
                margin: auto;
                letter-spacing: 2px;
                margin-top: 80px;
                
                span{
    
                    color: white;
                }
                .hire-me{
                    color: #09D79C;
                    letter-spacing: 1px;
                    font-weight: 800;
                    font-size: 16px;
                    cursor: crosshair;
                }
    
    
                .more-about-me{
                    background: linear-gradient(to top, #864BA2, #BF3A30);
                    -webkit-background-clip: text;
                    color: transparent;
                    text-align: center;
                    cursor: crosshair;
                    font-weight: 800;
                    font-size: 16px;
                }
            }
        }
    }

}

@media(max-width: 1024px){
    .about-me{
        
        .container{
            flex-direction: column;
            text-align: center;
            margin: auto;

            .myself{
                width: 80%;
                margin: auto;
                margin-top: 150px;
    
            }
    
            .desc{
                width: 100%;
                margin: auto;
                
                h2{
                    margin-top: 60px;
                    font-size: 24px;
                }
            }
        }

    }
}


@media(max-width: 768px){
    .about-me{
        
        .container{

            .myself{

                img{

                    width: 250px;
                    height: 350px;
                }
            }
        
            .desc{
                width: 100%;
            }
        }

    }
}