.services{
    border: 1x solid white;
    margin-top: 150px;
    
    h2{
        margin-top: 300px;
        color: white;
        text-align: center;
        letter-spacing: 1px;
        font-size: 44px;
    }

    .infos{
        display: flex;
        justify-content: center;
        width: 90%;
        gap: 120px;
        margin: auto;
        margin-top: 150px;
        
        .dev, .doc{
            width: 350px;
            height: 300px;
            display: flex;
            flex-direction: column;
        }

        h3{
            color: white;
            margin: 0 auto;
            margin-top: 20px;
            letter-spacing: 1px;
            font-size: 20px;
        }

        p{
            color: #8D8D8D;
            letter-spacing: 1px;
            text-align: center;
            margin-top: 50px;
            line-height: 1.6;
            font-size: .9rem;
        }

        .icon{
            color: #864BA2;
            font-size: 48px;
            justify-content: center;
            margin-top: 20px;
        }
    } 
}

@media(max-width: 768px){
    
    .services{

        h2{
            font-size: 24px;
        }

        .infos{
            flex-direction: column;
            gap: 50px;
            .dev, .doc{
                margin: auto;
            }
        }
    }
}
